img{
    border-radius: 50%;
}

#titulo{
    color: gold;
    background-color: purple;    
}
#titulop{
    background-color: black;
    color: red;
}
#tituloc{
    background-color: black;
    color: red;
}
h2{
    background-color: purple;
    color: gold;
}
